.venv/
.jenv/
.env
db.sqlite3
.idea/
back_media/
media/
back_static/
static/*
venv/
*.pyc
storage/
**__pycache__
celerybeat-schedule.db
celerybeat-schedule
src/celery
celery
pgadmin/
**/.pytest_cache
/tenv
django-log.db
djagno-log.db
devops/distributions
devops/environments/.backend
csv_data/
test.ipynb
test.py
dumps/
.DS_Store